button.load-button {
  color: #fff;
  background-color: #004B97;
  padding: 10px;
  border: 0px;
  font-size: 20px;
  width: 200px;
  height: 60px;
  outline: 0;
  display: block;
  margin: 10px 0;
}

button.load-button span {
  transition: all 1s;
  opacity: 1;
}
button.load-button svg {
  display: none;
  margin: 0 auto;
  transition: all 1s;
}
button.load-button svg path, button.load-button svg rect {
  fill: #fff;
}

button.loading-start span {
  display: none;
  opacity: 0;
}
button.loading-start svg {
  display: block;
  opacity: 1;
}

div.btn-content {
  float: left;
  margin: 0 20px;
}
